<dialog #dialogElement class="mdl-dialog">
  <h4 class="mdl-dialog__title">{{ data.title }}</h4>
  <div class="mdl-dialog__content" *ngIf="data.content">
    <p>
      {{ data.content }}
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" (click)="onDecision(true)">Potwierdź</button>
    <button type="button" class="mdl-button close" (click)="onDecision(false)">Anuluj</button>
  </div>
</dialog>