<table class="mdl-data-table mdl-data-table-full-width mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td class="mdl-to-right">
      	<button attr.id="users-action-menu-{{ user.id }}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
				  <i class="material-icons">more_vert</i>
				</button>
        <app-user-actions [user]="user" (action)="userAction($event)"></app-user-actions>
      </td>
    </tr>
  </tbody>
</table>

<app-dialog #dialogElement></app-dialog>