.mdl-data-table-full-width {
	width: 100%;
}

.mdl-data-table th, .mdl-data-table td {
  	text-align: left;
}

.mdl-data-table th.mdl-to-right, .mdl-data-table td.mdl-to-right {
  	text-align: right;
}