<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">{{ title }}</span>
    </div>
  </header>
	<main class="mdl-layout__content">
		<app-users></app-users>
  </main>
</div>
