<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" attr.for="users-action-menu-{{ user.id }}">
  <li *ngFor="let action of userActions" class="mdl-menu__item" (click)="createAction(user,action)">{{ action.name }}</li>
</ul>
